version: '3.9'
services:
  frontend:
    build: ./Frontend
    ports:
      - "80:80"

  backendd: 
    build: ./Backend
    ports:
      - "5000:5000"
    env_file:
      - ./Backend/.env 
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    command: python app.py
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - ./Backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: